data/*
!data/.gitkeep

*.pyc
__pycache__/
.env
venv/
wandb/
*.pth

# LaTeX build files in paper directories
example_paper/*.out
example_paper/*.aux
example_paper/*.brf
example_paper/*.log
example_paper/*.pdf
example_paper/*.gz

paper/*.out
paper/*.aux
paper/*.brf
paper/*.log
paper/*.pdf
paper/*.gz
